name = "satomatashikitask"
compatibility_date = "2024-11-19"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".svelte-kit/cloudflare"

[build]
command = "npm run build"

[[d1_databases]]
binding = "DB"
database_name = "satomatashikitask-db"
database_id = "09e33ed1-71a8-4791-b749-d70a0675eb9f"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "satomatashikitask-files"
